body {
	background-color: #5388E9;
}
h1 {
	color:#A9C4F4;
	font-size: 64px;
	text-align: center; 
	font-family: "Tahoma";
	text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
	padding: 10px;
}

h2 {
	color:#294474;
	font-size: 36px;
	text-align: center;
	font-family: "Trebuchet MS";
	padding: 10px;
}

h3 {
	color:#294474;
	font-size: 30px;
	font-family: "Helvetica";
	text-align: center;
	padding: 10px;
}

form {
	white-space: pre;
	border-radius:5px;
	max-width: 1000px;
	margin: 0 auto;
	border: 2px solid #c0c0c0;
	position:relative;
	background-color: #99ccff;
}

label {
	font-size:24px;
	display:grid;
	font-family: "Trebuchet MS";
}

.text {
	text-align:center;
}


input[type="text"] {
	width: 75%;
}
input[type="radio"]{
	 transform: translateX(-2em);
	 transform: translateY(-1em);
	 width: 24px;
     height: 24px;
	 
}
input[type="checkbox"]{
	transform: translateX(-2em);
	transform: translateY(-1em);
	width: 24px;
    height: 24px;
}

input[type=submit] {
	transform:translateX(23em);
}

.tool {
	color: red;
	text-align:center;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}

.choice {
	float:left;
	padding-left:20px;
}

input{
	border: solid #cccccc;
	border-width: 4px;
	border-radius: 12px;
}



@media screen and (min-width: 800px) {
	h1{
		font-size:128px;
	}
	h2 {
		font-size:72px;
	}
	h3{
		font-size:64px;
	}
	input[type="text"] {
		width: 90%;
	}
}
