body {
	background-color: #5388E9;
}
h1 {
	color:#A9C4F4;
	font-size: 72px;
	text-align: center; 
	font-family: "Tahoma";
	text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
	padding: 10px;
}

h2 {
	color:#294474;
	font-size: 48px;
	text-align: center;
	font-family: "Trebuchet MS";
	padding: 10px;
}

h3 {
	color:#294474;
	font-size: 40px;
	font-family: "Helvetica";
	text-align: center;
	padding: 10px;
}

form {
	white-space: pre;
	padding: 20px;
	border-radius:5px;
	max-width: 1000px;
	margin: 0 auto;
	border: 2px solid #c0c0c0;
	position:relative;
	background-color: #99ccff;
}

label {
	font-size:24px;
	font-family: "Trebuchet MS";
}

input{
	border: solid #cccccc;
	border-width: 4px;
	border-radius: 12px;
}

@media screen and (min-width: 800px) {
	h1{
		font-size:128px;
	}
	h2 {
		font-size:72px;
	}
	h3{
		font-size:64px;
	}
}
